#X options
setxkbmap -layout us,ir
setxkbmap -option "shift:both_capslock_cancel"
setxkbmap -option altwin:swap_lalt_lwin
setxkbmap -option ctrl:nocaps
xcape -e 'Control_L=Escape'
xinput set-prop "DLL077C:00 06CB:7E92 Touchpad" "libinput Natural Scrolling Enabled" 1


#env variables
BROWSER=brave
EDITOR=nvim
